@page "/About"
<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> about us </h1>

    <div class="row">

        <div class="video">
            <video src="css/images/about-vid.mp4" loop muted autoplay></video>
        </div>

        <div class="content">
            <h3>We will provide you the best work which you dreamt for!</h3>
            <p>AquaAi aims to revolutionize liquids resource management by offering a comprehensive integration system that addresses inefficiencies and sustainability issues in traditional methods.</p>
            <a href="#services" class="btn">read more</a>
        </div>

    </div>
    <div class="box-container">
        <div class="box">
            <h3>100%</h3>
            <p>Commitment to Sustainability</p>
        </div>

        <div class="box">
            <h3>90%</h3>
            <p>Decent Work and Economic Growth</p>
        </div>

        <div class="box">
            <h3>95%</h3>
            <p>Responsible Consumption and Production</p>
        </div>

        <div class="box">
            <h3>80%</h3>
            <p>Partnerships for the Goals of Liquids</p>
        </div>
    </div>
</section>

<!-- about section ends -->