@page "/home"
<!-- Home Section Starts -->
<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <section class="swiper-slide slide" style="background: url(css/images/home-slide-1.jpg) no-repeat;">
                <div class="content">
                    <h3>AquaAi:Empowering Sustainability</h3>
                    <p>AquaAi is revolutionizing resource management, focusing on liquids, with a comprehensive integration system aimed at addressing inefficiencies and sustainability issues in traditional methods.</p>
                    <a href="#about" class="btn">Get Started</a>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- Home Section Ends -->
