@page "/solution"

<!-- Solution Section Starts -->

<section class="solution" id="solution">

    <h1 class="heading">Our Solution</h1>

    <div class="row">

        <div class="video">
            <video src="css/images/about-vid.mp4" loop muted autoplay></video>
        </div>

        <div class="content">
            <h3>Revolutionizing Liquid Resource Management</h3>
            <p>AquaAi is dedicated to redefining resource management, with a particular focus on liquids, through a comprehensive integration system. Our mission is to provide a complete solution kit that tackles inefficiencies and sustainability issues in traditional liquid management methods.</p>
        </div>

    </div>

</section>

<!-- Solution Section Ends -->